In [1]:
import numpy as np
import pandas as pd

SELECT statements

In [2]:
lines = '''-- insert into tblCITY
-- insert into tblVENUE
-- insert into tblCONCERT
-- insert into tblCUSTOMER
-- insert into tblTICKET
-- insert into tblPRODUCT_PRICE_HISTORY
-- insert into tblTICKET_PRODUCT
-- insert into tblPRODUCT
-- insert into tblARTIST
-- insert into tblARTIST_SONG
-- insert into tblSONG
-- insert into tblSONG_ALBUM
-- insert into tblALBUM
-- insert into tblPRODUCER_ALBUM
-- insert into tblARTIST_LABEL
-- insert into tblLABEL
-- insert into tblSONG_LINEUP
-- insert into tblSONG_GENRE
-- insert into tblCONCERT_EMPLOYEE
-- insert into tblEMPLOYEE
-- insert into tblEMPLOYEE_STATUS'''

In [4]:
for line in lines.split('\n'):
    table = line.strip().split(' ')[-1]
    print(f'SELECT * FROM {table}')

SELECT * FROM tblCITY
SELECT * FROM tblVENUE
SELECT * FROM tblCONCERT
SELECT * FROM tblCUSTOMER
SELECT * FROM tblTICKET
SELECT * FROM tblPRODUCT_PRICE_HISTORY
SELECT * FROM tblTICKET_PRODUCT
SELECT * FROM tblPRODUCT
SELECT * FROM tblARTIST
SELECT * FROM tblARTIST_SONG
SELECT * FROM tblSONG
SELECT * FROM tblSONG_ALBUM
SELECT * FROM tblALBUM
SELECT * FROM tblPRODUCER_ALBUM
SELECT * FROM tblARTIST_LABEL
SELECT * FROM tblLABEL
SELECT * FROM tblSONG_LINEUP
SELECT * FROM tblSONG_GENRE
SELECT * FROM tblCONCERT_EMPLOYEE
SELECT * FROM tblEMPLOYEE
SELECT * FROM tblEMPLOYEE_STATUS

Stored Procedures

In [46]:
# table : string
# fks : [[[[fkname1, datatype1], [fkname2, datatype2] ... ], fkid, table]]
# cols: [[colname, datatype]]
def write_sproc(srctable, fks, cols):
    print(f'-- insert into {srctable}')
    # > create base name
    code = f'GO\nCREATE PROCEDURE INSERT_{srctable}\n'
    # > add cols
    for fklist, fkid, table in fks:
        for fkname, datatype in fklist:
            code += f'@{fkname} {datatype},\n'
    for colname, datatype in cols:
        code += f'@{colname} {datatype},\n'
    code = code.rstrip()[:-1] + '\n'
    code += 'AS\n'
    # > declare variables
    code += 'DECLARE '
    for fklist, fkid, table in fks:
        code += f'@{table[3:]}_ID INT, '
    code = code[:-2] + '\n'
    # > add foreign key lookups
    for fklist, fkid, table in fks:
        # >> get the query statement
        code += f'-- querying for {fkid} from {table}\n'
        fknames = [fkitem[0] for fkitem in fklist]
        query = f'SET @{table[3:]}_ID = (SELECT {fkid} FROM {table} WHERE '
        for fkname in fknames:
            query += f'{fkname} = @{fkname} AND '
        if(query[-4:] == 'AND '):
            query = query[:-4]
        query = query[:-1] + ')\n'
        code += query
        # >> error handling
        handling = f'IF @{table[3:]}_ID IS NULL\n'
        handling += f'BEGIN\n    PRINT \'ERROR @{table[3:]}_ID IS NULL\';\n'
        handling += f'    THROW 500001, \'NULL ID\', 1;\n'
        handling += 'END\n'
        code += handling
    # > do actual transaction
    code += '-- conducting actual insert statement\n'
    code += f'BEGIN TRAN T1\nINSERT INTO {srctable} ('
    # >> add on the foreign keys
    for fklist, fkid, table in fks:
        code += f'{fkid}, '
    # >> add on the columns
    for colname, datatype in cols:
        code += f'{colname}, '
    code = code[:-2] + ')\n'
    # >> add values for foreign keys
    code += f'VALUES ('
    for fklist, fkid, table in fks:
        code += f'@{table[3:]}_ID, '
    # >> add values for columns
    for colname, datatype in cols:
        code += f'@{colname}, '
    code = code[:-2] + ')\n'
    # >> error handling
    code += 'IF @@ERROR <> 0\n    ROLLBACK TRAN T1\nELSE\n    COMMIT TRAN T1\n'
    # > add final go
    code += 'GO\n'
    return code

In [48]:
params_list = []
# > tblCITY
table = 'tblCITY'
fks = [[[['CountryName','VARCHAR(50)']],'CountryID','tblCOUNTRY']]
cols = [['CityName','VARCHAR(50)'],['CityDescription', 'VARCHAR(250) NULL']]
params_list.append([table, fks, cols])
# > tblVENUE
table = 'tblVENUE'
fks = [[[['CityName','VARCHAR(50)']],'CityID','tblCITY'],[[['VenueTypeName','VARCHAR(50)']],'VenueTypeID','tblVENUE_TYPE']]
cols = [['VenueName','VARCHAR(50)'],['VenueDescription', 'VARCHAR(250) NULL']]
params_list.append([table, fks, cols])
# > tblCONCERT
table = 'tblCONCERT'
fks = [[[['ConcertTypeName','VARCHAR(50)']],'ConcertTypeID','tblCONCERT_TYPE'],[[['VenueName','VARCHAR(50)']],'VenueID','tblVENUE']]
cols = [['ConcertName','VARCHAR(50)'],['ConcertDescription', 'VARCHAR(250) NULL']]
params_list.append([table, fks, cols])
# > tblCUSTOMER
table = 'tblCUSTOMER'
fks = [[[['CustomerTypeName','VARCHAR(50)']],'CustomerTypeID','tblCUSTOMER_TYPE']]
cols = [['CustomerFname','VARCHAR(50)'],['CustomerLname','VARCHAR(50)'],['CustomerDOB', 'DATE']]
params_list.append([table, fks, cols])
# > tblTICKET
table = 'tblTICKET'
fks = [[[['CustomerFname','VARCHAR(50)'],['CustomerLname','VARCHAR(50)'],['CustomerDOB', 'DATE']],'CustomerID','tblCUSTOMER'],[[['TicketTypeName','VARCHAR(50)']],'TicketTypeID','tblTICKET_TYPE'],[[['ConcertName','VARCHAR(50)']],'ConcertID','tblCONCERT']]
cols = [['TicketName','VARCHAR(50)'],['Price','NUMERIC(10,2)']]
params_list.append([table, fks, cols])
# > tblPRODUCT_PRICE_HISTORY
table = 'tblPRODUCT_PRICE_HISTORY'
fks = [[[['ProductName','VARCHAR(50)']],'ProductID','tblPRODUCT']]
cols = [['Price','NUMERIC(4,2)'],['BeginDate','DATE'],['EndDate','DATE']]
params_list.append([table, fks, cols])
# > tblTICKET_PRODUCT
table = 'tblTICKET_PRODUCT'
fks = [[[['TicketName','VARCHAR(50)']],'TicketID','tblTICKET'],[[['ProductName','VARCHAR(50)']],'ProductID','tblPRODUCT']]
cols = [['Quantity','INT']]
params_list.append([table, fks, cols])
# > tblPRODUCT
table = 'tblPRODUCT'
fks = [[[['ProductTypeName','VARCHAR(50)']],'ProductTypeID','tblPRODUCT_TYPE']]
cols = [['ProductName','VARCHAR(50)']]
params_list.append([table, fks, cols])
# > tblARTIST_SONG
table = 'tblARTIST_SONG'
fks = [[[['ArtistFname','VARCHAR(50)'],['ArtistLname','VARCHAR(50)'],['ArtistDOB', 'DATE']],'ArtistID','tblARTIST'],[[['SongName','VARCHAR(50)']],'SongID','tblSONG']]
cols = []
params_list.append([table, fks, cols])
# > tblSONG_ALBUM
table = 'tblSONG_ALBUM'
fks = [[[['SongName','VARCHAR(50)']],'SongID','tblSONG'],[[['AlbumName','VARCHAR(50)']],'AlbumID','tblALBUM']]
cols = []
params_list.append([table, fks, cols])
# > tblALBUM
table = 'tblALBUM'
fks = [[[['AlbumTypeName','VARCHAR(50)']],'AlbumTypeID','tblALBUM_TYPE']]
cols = [['AlbumName','VARCHAR(50)'],['AlbumDescription','VARCHAR(250) NULL'],['AlbumReleaseDate','DATE']]
params_list.append([table, fks, cols])
# > tblPRODUCER_ALBUM
table = 'tblPRODUCER_ALBUM'
fks = [[[['ProducerFname','VARCHAR(50)'],['ProducerLname','VARCHAR(50)'],['ProducerDOB','DATE']],'ProducerID','tblPRODUCER'],[[['AlbumName','VARCHAR(50)']],'AlbumID','tblALBUM']]
cols = []
params_list.append([table, fks, cols])
# > tblARTIST_LABEL
table = 'tblARTIST_LABEL'
fks = [[[['ArtistFname','VARCHAR(50)'],['ArtistLname','VARCHAR(50)'],['ArtistDOB', 'DATE']],'ArtistID','tblARTIST'],[[['LabelName','VARCHAR(50)']],'LabelID','tblLABEL']]
cols = [['BeginDate','DATE'],['EndDate','DATE']]
params_list.append([table, fks, cols])
# > tblSONG_LINEUP
table = 'tblSONG_LINEUP'
fks = [[[['ConcertName','VARCHAR(50)']],'ConcertID','tblCONCERT'],[[['SongName','VARCHAR(50)']],'SongID','tblSONG']]
cols = [['Duration','NUMERIC(8,4)']]
params_list.append([table, fks, cols])
# > tblSONG_GENRE
table = 'tblSONG_GENRE'
fks = [[[['SongName','VARCHAR(50)']],'SongID','tblSONG'],[[['GenreName','VARCHAR(50)']],'GenreID','tblGENRE']]
cols = []
params_list.append([table, fks, cols])
# > tblCONCERT_EMPLOYEE
table = 'tblCONCERT_EMPLOYEE'
fks = [[[['EmployeeFname','VARCHAR(50)'],['EmployeeLname','VARCHAR(50)'],['EmployeeDOB', 'DATE']],'EmployeeID','tblEMPLOYEE'],[[['EmployeeTypeName','VARCHAR(50)']],'EmployeeTypeID','tblEMPLOYEE_TYPE'],[[['EmployeeRoleName','VARCHAR(50)']],'EmployeeRoleID','tblEMPLOYEE_ROLE'],[[['ConcertName','VARCHAR(50)']],'ConcertID','tblCONCERT']]
cols = []
params_list.append([table, fks, cols])
# > tblEMPLOYEE_STATUS
table = 'tblEMPLOYEE_STATUS'
fks = [[[['EmployeeFname','VARCHAR(50)'],['EmployeeLname','VARCHAR(50)'],['EmployeeDOB', 'DATE']],'EmployeeID','tblEMPLOYEE'],[[['StatusName','VARCHAR(50)']],'StatusID','tblSTATUS']]
cols = [['BeginDate','DATE'],['EndDate','DATE']]
params_list.append([table, fks, cols])
# > print parameters
for params in params_list:
    print(write_sproc(*params))

-- insert into tblCITY
GO
CREATE PROCEDURE INSERT_tblCITY
@CountryName VARCHAR(50),
@CityName VARCHAR(50),
@CityDescription VARCHAR(250) NULL
AS
DECLARE @COUNTRY_ID INT
-- querying for CountryID from tblCOUNTRY
SET @COUNTRY_ID = (SELECT CountryID FROM tblCOUNTRY WHERE CountryName = @CountryName)
IF @COUNTRY_ID IS NULL
BEGIN
    PRINT 'ERROR @COUNTRY_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblCITY (CountryID, CityName, CityDescription)
VALUES (@COUNTRY_ID, @CityName, @CityDescription)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblVENUE
GO
CREATE PROCEDURE INSERT_tblVENUE
@CityName VARCHAR(50),
@VenueTypeName VARCHAR(50),
@VenueName VARCHAR(50),
@VenueDescription VARCHAR(250) NULL
AS
DECLARE @CITY_ID INT, @VENUE_TYPE_ID INT
-- querying for CityID from tblCITY
SET @CITY_ID = (SELECT CityID FROM tblCITY WHERE CityName = @CityName)
IF @CITY_ID IS NULL
BEGIN
    PRINT 'ERROR @CITY_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for VenueTypeID from tblVENUE_TYPE
SET @VENUE_TYPE_ID = (SELECT VenueTypeID FROM tblVENUE_TYPE WHERE VenueTypeName = @VenueTypeName)
IF @VENUE_TYPE_ID IS NULL
BEGIN
    PRINT 'ERROR @VENUE_TYPE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblVENUE (CityID, VenueTypeID, VenueName, VenueDescription)
VALUES (@CITY_ID, @VENUE_TYPE_ID, @VenueName, @VenueDescription)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblCONCERT
GO
CREATE PROCEDURE INSERT_tblCONCERT
@ConcertTypeName VARCHAR(50),
@VenueName VARCHAR(50),
@ConcertName VARCHAR(50),
@ConcertDescription VARCHAR(250) NULL
AS
DECLARE @CONCERT_TYPE_ID INT, @VENUE_ID INT
-- querying for ConcertTypeID from tblCONCERT_TYPE
SET @CONCERT_TYPE_ID = (SELECT ConcertTypeID FROM tblCONCERT_TYPE WHERE ConcertTypeName = @ConcertTypeName)
IF @CONCERT_TYPE_ID IS NULL
BEGIN
    PRINT 'ERROR @CONCERT_TYPE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for VenueID from tblVENUE
SET @VENUE_ID = (SELECT VenueID FROM tblVENUE WHERE VenueName = @VenueName)
IF @VENUE_ID IS NULL
BEGIN
    PRINT 'ERROR @VENUE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblCONCERT (ConcertTypeID, VenueID, ConcertName, ConcertDescription)
VALUES (@CONCERT_TYPE_ID, @VENUE_ID, @ConcertName, @ConcertDescription)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblCUSTOMER
GO
CREATE PROCEDURE INSERT_tblCUSTOMER
@CustomerTypeName VARCHAR(50),
@CustomerFname VARCHAR(50),
@CustomerLname VARCHAR(50),
@CustomerDOB DATE
AS
DECLARE @CUSTOMER_TYPE_ID INT
-- querying for CustomerTypeID from tblCUSTOMER_TYPE
SET @CUSTOMER_TYPE_ID = (SELECT CustomerTypeID FROM tblCUSTOMER_TYPE WHERE CustomerTypeName = @CustomerTypeName)
IF @CUSTOMER_TYPE_ID IS NULL
BEGIN
    PRINT 'ERROR @CUSTOMER_TYPE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblCUSTOMER (CustomerTypeID, CustomerFname, CustomerLname, CustomerDOB)
VALUES (@CUSTOMER_TYPE_ID, @CustomerFname, @CustomerLname, @CustomerDOB)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblTICKET
GO
CREATE PROCEDURE INSERT_tblTICKET
@CustomerFname VARCHAR(50),
@CustomerLname VARCHAR(50),
@CustomerDOB DATE,
@TicketTypeName VARCHAR(50),
@ConcertName VARCHAR(50),
@TicketName VARCHAR(50),
@Price NUMERIC(10,2)
AS
DECLARE @CUSTOMER_ID INT, @TICKET_TYPE_ID INT, @CONCERT_ID INT
-- querying for CustomerID from tblCUSTOMER
SET @CUSTOMER_ID = (SELECT CustomerID FROM tblCUSTOMER WHERE CustomerFname = @CustomerFname AND CustomerLname = @CustomerLname AND CustomerDOB = @CustomerDOB)
IF @CUSTOMER_ID IS NULL
BEGIN
    PRINT 'ERROR @CUSTOMER_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for TicketTypeID from tblTICKET_TYPE
SET @TICKET_TYPE_ID = (SELECT TicketTypeID FROM tblTICKET_TYPE WHERE TicketTypeName = @TicketTypeName)
IF @TICKET_TYPE_ID IS NULL
BEGIN
    PRINT 'ERROR @TICKET_TYPE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for ConcertID from tblCONCERT
SET @CONCERT_ID = (SELECT ConcertID FROM tblCONCERT WHERE ConcertName = @ConcertName)
IF @CONCERT_ID IS NULL
BEGIN
    PRINT 'ERROR @CONCERT_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblTICKET (CustomerID, TicketTypeID, ConcertID, TicketName, Price)
VALUES (@CUSTOMER_ID, @TICKET_TYPE_ID, @CONCERT_ID, @TicketName, @Price)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblPRODUCT_PRICE_HISTORY
GO
CREATE PROCEDURE INSERT_tblPRODUCT_PRICE_HISTORY
@ProductName VARCHAR(50),
@Price NUMERIC(4,2),
@BeginDate DATE,
@EndDate DATE
AS
DECLARE @PRODUCT_ID INT
-- querying for ProductID from tblPRODUCT
SET @PRODUCT_ID = (SELECT ProductID FROM tblPRODUCT WHERE ProductName = @ProductName)
IF @PRODUCT_ID IS NULL
BEGIN
    PRINT 'ERROR @PRODUCT_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblPRODUCT_PRICE_HISTORY (ProductID, Price, BeginDate, EndDate)
VALUES (@PRODUCT_ID, @Price, @BeginDate, @EndDate)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblTICKET_PRODUCT
GO
CREATE PROCEDURE INSERT_tblTICKET_PRODUCT
@TicketName VARCHAR(50),
@ProductName VARCHAR(50),
@Quantity INT
AS
DECLARE @TICKET_ID INT, @PRODUCT_ID INT
-- querying for TicketID from tblTICKET
SET @TICKET_ID = (SELECT TicketID FROM tblTICKET WHERE TicketName = @TicketName)
IF @TICKET_ID IS NULL
BEGIN
    PRINT 'ERROR @TICKET_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for ProductID from tblPRODUCT
SET @PRODUCT_ID = (SELECT ProductID FROM tblPRODUCT WHERE ProductName = @ProductName)
IF @PRODUCT_ID IS NULL
BEGIN
    PRINT 'ERROR @PRODUCT_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblTICKET_PRODUCT (TicketID, ProductID, Quantity)
VALUES (@TICKET_ID, @PRODUCT_ID, @Quantity)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblPRODUCT
GO
CREATE PROCEDURE INSERT_tblPRODUCT
@ProductTypeName VARCHAR(50),
@ProductName VARCHAR(50)
AS
DECLARE @PRODUCT_TYPE_ID INT
-- querying for ProductTypeID from tblPRODUCT_TYPE
SET @PRODUCT_TYPE_ID = (SELECT ProductTypeID FROM tblPRODUCT_TYPE WHERE ProductTypeName = @ProductTypeName)
IF @PRODUCT_TYPE_ID IS NULL
BEGIN
    PRINT 'ERROR @PRODUCT_TYPE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblPRODUCT (ProductTypeID, ProductName)
VALUES (@PRODUCT_TYPE_ID, @ProductName)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblARTIST_SONG
GO
CREATE PROCEDURE INSERT_tblARTIST_SONG
@ArtistFname VARCHAR(50),
@ArtistLname VARCHAR(50),
@ArtistDOB DATE,
@SongName VARCHAR(50)
AS
DECLARE @ARTIST_ID INT, @SONG_ID INT
-- querying for ArtistID from tblARTIST
SET @ARTIST_ID = (SELECT ArtistID FROM tblARTIST WHERE ArtistFname = @ArtistFname AND ArtistLname = @ArtistLname AND ArtistDOB = @ArtistDOB)
IF @ARTIST_ID IS NULL
BEGIN
    PRINT 'ERROR @ARTIST_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for SongID from tblSONG
SET @SONG_ID = (SELECT SongID FROM tblSONG WHERE SongName = @SongName)
IF @SONG_ID IS NULL
BEGIN
    PRINT 'ERROR @SONG_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblARTIST_SONG (ArtistID, SongID)
VALUES (@ARTIST_ID, @SONG_ID)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblSONG_ALBUM
GO
CREATE PROCEDURE INSERT_tblSONG_ALBUM
@SongName VARCHAR(50),
@AlbumName VARCHAR(50)
AS
DECLARE @SONG_ID INT, @ALBUM_ID INT
-- querying for SongID from tblSONG
SET @SONG_ID = (SELECT SongID FROM tblSONG WHERE SongName = @SongName)
IF @SONG_ID IS NULL
BEGIN
    PRINT 'ERROR @SONG_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for AlbumID from tblALBUM
SET @ALBUM_ID = (SELECT AlbumID FROM tblALBUM WHERE AlbumName = @AlbumName)
IF @ALBUM_ID IS NULL
BEGIN
    PRINT 'ERROR @ALBUM_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblSONG_ALBUM (SongID, AlbumID)
VALUES (@SONG_ID, @ALBUM_ID)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblALBUM
GO
CREATE PROCEDURE INSERT_tblALBUM
@AlbumTypeName VARCHAR(50),
@AlbumName VARCHAR(50),
@AlbumDescription VARCHAR(250) NULL,
@AlbumReleaseDate DATE
AS
DECLARE @ALBUM_TYPE_ID INT
-- querying for AlbumTypeID from tblALBUM_TYPE
SET @ALBUM_TYPE_ID = (SELECT AlbumTypeID FROM tblALBUM_TYPE WHERE AlbumTypeName = @AlbumTypeName)
IF @ALBUM_TYPE_ID IS NULL
BEGIN
    PRINT 'ERROR @ALBUM_TYPE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblALBUM (AlbumTypeID, AlbumName, AlbumDescription, AlbumReleaseDate)
VALUES (@ALBUM_TYPE_ID, @AlbumName, @AlbumDescription, @AlbumReleaseDate)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblPRODUCER_ALBUM
GO
CREATE PROCEDURE INSERT_tblPRODUCER_ALBUM
@ProducerFname VARCHAR(50),
@ProducerLname VARCHAR(50),
@ProducerDOB DATE,
@AlbumName VARCHAR(50)
AS
DECLARE @PRODUCER_ID INT, @ALBUM_ID INT
-- querying for ProducerID from tblPRODUCER
SET @PRODUCER_ID = (SELECT ProducerID FROM tblPRODUCER WHERE ProducerFname = @ProducerFname AND ProducerLname = @ProducerLname AND ProducerDOB = @ProducerDOB)
IF @PRODUCER_ID IS NULL
BEGIN
    PRINT 'ERROR @PRODUCER_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for AlbumID from tblALBUM
SET @ALBUM_ID = (SELECT AlbumID FROM tblALBUM WHERE AlbumName = @AlbumName)
IF @ALBUM_ID IS NULL
BEGIN
    PRINT 'ERROR @ALBUM_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblPRODUCER_ALBUM (ProducerID, AlbumID)
VALUES (@PRODUCER_ID, @ALBUM_ID)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblARTIST_LABEL
GO
CREATE PROCEDURE INSERT_tblARTIST_LABEL
@ArtistFname VARCHAR(50),
@ArtistLname VARCHAR(50),
@ArtistDOB DATE,
@LabelName VARCHAR(50),
@BeginDate DATE,
@EndDate DATE
AS
DECLARE @ARTIST_ID INT, @LABEL_ID INT
-- querying for ArtistID from tblARTIST
SET @ARTIST_ID = (SELECT ArtistID FROM tblARTIST WHERE ArtistFname = @ArtistFname AND ArtistLname = @ArtistLname AND ArtistDOB = @ArtistDOB)
IF @ARTIST_ID IS NULL
BEGIN
    PRINT 'ERROR @ARTIST_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for LabelID from tblLABEL
SET @LABEL_ID = (SELECT LabelID FROM tblLABEL WHERE LabelName = @LabelName)
IF @LABEL_ID IS NULL
BEGIN
    PRINT 'ERROR @LABEL_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblARTIST_LABEL (ArtistID, LabelID, BeginDate, EndDate)
VALUES (@ARTIST_ID, @LABEL_ID, @BeginDate, @EndDate)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblSONG_LINEUP
GO
CREATE PROCEDURE INSERT_tblSONG_LINEUP
@ConcertName VARCHAR(50),
@SongName VARCHAR(50),
@Duration NUMERIC(8,4)
AS
DECLARE @CONCERT_ID INT, @SONG_ID INT
-- querying for ConcertID from tblCONCERT
SET @CONCERT_ID = (SELECT ConcertID FROM tblCONCERT WHERE ConcertName = @ConcertName)
IF @CONCERT_ID IS NULL
BEGIN
    PRINT 'ERROR @CONCERT_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for SongID from tblSONG
SET @SONG_ID = (SELECT SongID FROM tblSONG WHERE SongName = @SongName)
IF @SONG_ID IS NULL
BEGIN
    PRINT 'ERROR @SONG_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblSONG_LINEUP (ConcertID, SongID, Duration)
VALUES (@CONCERT_ID, @SONG_ID, @Duration)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblSONG_GENRE
GO
CREATE PROCEDURE INSERT_tblSONG_GENRE
@SongName VARCHAR(50),
@GenreName VARCHAR(50)
AS
DECLARE @SONG_ID INT, @GENRE_ID INT
-- querying for SongID from tblSONG
SET @SONG_ID = (SELECT SongID FROM tblSONG WHERE SongName = @SongName)
IF @SONG_ID IS NULL
BEGIN
    PRINT 'ERROR @SONG_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for GenreID from tblGENRE
SET @GENRE_ID = (SELECT GenreID FROM tblGENRE WHERE GenreName = @GenreName)
IF @GENRE_ID IS NULL
BEGIN
    PRINT 'ERROR @GENRE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblSONG_GENRE (SongID, GenreID)
VALUES (@SONG_ID, @GENRE_ID)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblCONCERT_EMPLOYEE
GO
CREATE PROCEDURE INSERT_tblCONCERT_EMPLOYEE
@EmployeeFname VARCHAR(50),
@EmployeeLname VARCHAR(50),
@EmployeeDOB DATE,
@EmployeeTypeName VARCHAR(50),
@EmployeeRoleName VARCHAR(50),
@ConcertName VARCHAR(50)
AS
DECLARE @EMPLOYEE_ID INT, @EMPLOYEE_TYPE_ID INT, @EMPLOYEE_ROLE_ID INT, @CONCERT_ID INT
-- querying for EmployeeID from tblEMPLOYEE
SET @EMPLOYEE_ID = (SELECT EmployeeID FROM tblEMPLOYEE WHERE EmployeeFname = @EmployeeFname AND EmployeeLname = @EmployeeLname AND EmployeeDOB = @EmployeeDOB)
IF @EMPLOYEE_ID IS NULL
BEGIN
    PRINT 'ERROR @EMPLOYEE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for EmployeeTypeID from tblEMPLOYEE_TYPE
SET @EMPLOYEE_TYPE_ID = (SELECT EmployeeTypeID FROM tblEMPLOYEE_TYPE WHERE EmployeeTypeName = @EmployeeTypeName)
IF @EMPLOYEE_TYPE_ID IS NULL
BEGIN
    PRINT 'ERROR @EMPLOYEE_TYPE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for EmployeeRoleID from tblEMPLOYEE_ROLE
SET @EMPLOYEE_ROLE_ID = (SELECT EmployeeRoleID FROM tblEMPLOYEE_ROLE WHERE EmployeeRoleName = @EmployeeRoleName)
IF @EMPLOYEE_ROLE_ID IS NULL
BEGIN
    PRINT 'ERROR @EMPLOYEE_ROLE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for ConcertID from tblCONCERT
SET @CONCERT_ID = (SELECT ConcertID FROM tblCONCERT WHERE ConcertName = @ConcertName)
IF @CONCERT_ID IS NULL
BEGIN
    PRINT 'ERROR @CONCERT_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblCONCERT_EMPLOYEE (EmployeeID, EmployeeTypeID, EmployeeRoleID, ConcertID)
VALUES (@EMPLOYEE_ID, @EMPLOYEE_TYPE_ID, @EMPLOYEE_ROLE_ID, @CONCERT_ID)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO

-- insert into tblEMPLOYEE_STATUS
GO
CREATE PROCEDURE INSERT_tblEMPLOYEE_STATUS
@EmployeeFname VARCHAR(50),
@EmployeeLname VARCHAR(50),
@EmployeeDOB DATE,
@StatusName VARCHAR(50),
@BeginDate DATE,
@EndDate DATE
AS
DECLARE @EMPLOYEE_ID INT, @STATUS_ID INT
-- querying for EmployeeID from tblEMPLOYEE
SET @EMPLOYEE_ID = (SELECT EmployeeID FROM tblEMPLOYEE WHERE EmployeeFname = @EmployeeFname AND EmployeeLname = @EmployeeLname AND EmployeeDOB = @EmployeeDOB)
IF @EMPLOYEE_ID IS NULL
BEGIN
    PRINT 'ERROR @EMPLOYEE_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- querying for StatusID from tblSTATUS
SET @STATUS_ID = (SELECT StatusID FROM tblSTATUS WHERE StatusName = @StatusName)
IF @STATUS_ID IS NULL
BEGIN
    PRINT 'ERROR @STATUS_ID IS NULL';
    THROW 500001, 'NULL ID', 1;
END
-- conducting actual insert statement
BEGIN TRAN T1
INSERT INTO tblEMPLOYEE_STATUS (EmployeeID, StatusID, BeginDate, EndDate)
VALUES (@EMPLOYEE_ID, @STATUS_ID, @BeginDate, @EndDate)
IF @@ERROR <> 0
    ROLLBACK TRAN T1
ELSE
    COMMIT TRAN T1
GO